/*============================== Imports ==================================== */
/* FONTS */
/* MONTSERRAT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*============================== Configurations ==============================*/
:root {
    /* COLORS */
    --black: hsl(0, 0%, 0%);
    --black-60: hsla(0, 0%, 0%, 0.6);
    --black-35: hsla(0, 0%, 0%, 0.35);
    --black-15: hsla(0, 0%, 0%, 0.15);
    --black-06: hsla(0, 0%, 0%, 0.06);
    --tundora: hsl(0, 0%, 27%);
    --tundora-10: hsla(0, 0%, 27%, 0.1);
    --silver-chalice: hsl(0, 0%, 64%);
    --mercury-40: hsla(0, 0%, 87%, 0.4);
    --gallery: hsl(0, 0%, 93% );
    --white: hsl(0, 0%, 100%);
    --texas-rose: hsl(33, 100%, 66%);
    --dodger-blue: hsl(215, 100%, 64%);
    --dodger-blue-50: hsla(215, 100%, 64%, 0.5);
    --athens-Gray: hsl(228, 19%, 95%);
    --magnolia: hsl(262, 100%, 98%);

    /* BACKGROUNDS */
    --chat-button-background: var(--mercury-40);
    --button-call-of-video-background: var(--texas-rose);
    --button-address-background: var(--dodger-blue);
    --button-new-appointment-background: var(--dodger-blue);
    --new-appointment-background: var(--black-60);
    --new-appointment-text-background: var(--white);
    --footer-background: var(--white);

    /* BORDERS */
    --hr-border-color: var(--tundora-10);
    --audio-call-button-border-color: var(--gallery);
    --new-appointment-button-border-color: var(--black-06);
    
    /* BOX-SHADOW */
    --meeting-box-shadow-color: var(--black-35);
    --footer-box-shadow-color--desktop: var(--black-15);
    --footer-box-shadow-color: var(--black-06);
    --button-new-appointment-box-shadow-color: var(--dodger-blue-50);

    /* TEXTS */
    --title-text-color: var(--tundora);
    --default-text-color: var(--tundora);
    --detail-text-color: var(--silver-chalice);

    --white-button-text-color: var(--white);

    /* FONTS */
    --main-font: 'Montserrat', sans-serif;

    /* OTHERS */
    --meeting-padding: 1rem;
}

/* ANIMATIONS */
@keyframes new-appointment-buttons-animation {
    to {
        transform: translateX(0%);
    }
}

/*============================== Generic Elements ==============================*/
html { 
    min-width: 320px;
}

body {
    font-family: var(--main-font);
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;

    color: var(--title-text-color);
    font-weight: bold;
}

/*============================== Generic Classes ==============================*/
.button {
    padding: 1rem;
    border: none;
    border-radius: 5px;

    text-align: center;

    cursor: pointer;
}

    .button--video-call {
        background-color: var(--button-call-of-video-background);

        color: var(--white-button-text-color);
    }

    .button--audio-call {
        background-color: transparent;

        border: 1px solid var(--audio-call-button-border-color);
    }

    .button--address {
        background-color: var(--button-address-background);

        color: var(--white-button-text-color);
    }

/*============================== Page - Top to Bottom ==============================*/
/* NEW APPOINTMENT BACKGROUND */
/* Background when the "new appointment" button is clicked */
.new-appointment-background {
    background-color: var(--new-appointment-background);

    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;

    display: none;
}

    .new-appointment-background--active {
        display: block;
    }

/* MAIN PROFILE */
.header {
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 1.5rem 1rem;
}

    .header__profile {
        width: 5rem;
        height: 5rem;

        border-radius: 50%;
    }

    .header__title {
        margin-bottom: 1rem;
    }

    .header__today-appointments {
        color: var(--detail-text-color);
    }

.main {
    padding: 1rem;
}

/* NEW APPOINTMENT */
.new-appointment {
    position: fixed;
    right: 1rem;
    bottom: 6rem;

    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 1rem;

    margin-left: 1rem;

    z-index: 1;
}

    .new-appointment__appointment {
        position: absolute;

        transform: translateX(106%);
    }
    
        .new-appointment__appointment--animated {
            position: static;

            animation: new-appointment-buttons-animation 0.25s cubic-bezier(0.42, 0, 0.51, 1.19) forwards;
        }


    .new-appointment__appointment {
        max-width: fit-content;

        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 1rem;
    }

        .new-appointment__button {
            background-color: var(--button-new-appointment-background);

            width: 50px;
            height: 50px;

            display: flex;
            justify-content: center;
            align-items: center;
            
            border: 2px solid var(--new-appointment-button-border-color);
            box-shadow: 0px 4px 16px var(--button-new-appointment-box-shadow-color);
            border-radius: 50%;
        }

        .new-appointment__text {
            background-color: var(--new-appointment-text-background);

            border-radius: 15px;
            padding: 0.5rem;
        }

/* APPOINTMENTS */
.appointments-day {
    margin: 2rem 0;

    font-size: 1.75rem;
}

    .appointments-day--no-margin-top {
        margin-top: 0;
    }

.meeting {
    border-radius: 10px;
    box-shadow: 1px 1px 5px var(--meeting-box-shadow-color);
    padding: var(--meeting-padding);
}

    .meeting:not(:last-child) {
        margin-bottom: 1rem;
    }

    .meeting__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 1rem;
    }

        .meeting__profile {
            width: 20%;

            border-radius: 50%;
        }

        .meeting__informations {
            margin-right: auto;
        }

            .meeting__informations__client-name {
                margin-bottom: 0.5rem;
            }

            .meeting__informations__meet-type {
                color: var(--detail-text-color);
            }

        .meeting__chat-button {
            background-color: var(--chat-button-background);

            width: 40px;
            height: 40px;
            
            display: flex;
            justify-content: center;
            align-items: center;

            border: none;
            border-radius: 50%;
            padding: 0.5rem;
        }

            .meeting__chat-button__icon {
                width: 75%;
                max-width: 1.25rem;
            }

    .meeting__row {
        margin: 1rem calc(var(--meeting-padding) * -1);
        border-color: var(--hr-border-color);
    }

    .meeting__time {
        padding-bottom: 1rem;

        color: var(--default-text-color);
    }

    .meeting__buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

        .meeting__buttons > * {
            flex-grow: 1;
        }

/* FOOTER */
.footer {
    background-color: var(--footer-background);

    position: sticky;
    bottom: 0;

    border-radius: 12px 12px 0 0;
    box-shadow: 0px -4px 8px var(--footer-box-shadow-color);
    padding: 1rem 1.5rem;
}

    .footer__list {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

        .footer__link {
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 0.25rem;

            color: var(--detail-text-color);
            font-size: 0.8rem;
            text-decoration: none;
        }

/* RESPONSIVE LAYOUTS */
/* TABLET */
@media screen and (min-width: 768px) {
    /* APPOINTMENTS */
    .day-meetings {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .meeting:not(:last-child) {
        margin-bottom: 0px;
    }

    /* FOOTER */
    .footer__list {
        max-width: 50rem;

        margin: auto;
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    /* APPOINTMENTS */
    .day-meetings {
        grid-template-columns: repeat(3, 1fr);
    }

        .meeting {
            display: grid;
            grid-template-rows: auto auto 1fr;
        }

            .meeting__footer {
                display: grid;
                grid-template-rows: auto 1fr;
            }
}

/* DESKTOP */
@media screen and (min-width: 1100px) {
    .main {
        padding: 0;
    }

    .main-grid {
        position: relative;

        display: grid;
        grid-template-columns: 1fr 7rem;
        gap: 1rem;

        padding: 1rem;
    }

    /* NEW APPOINTMENT */
    .new-appointment {
        bottom: 1rem;

        z-index: 1;
    }

    /* FOOTER */
    .footer {
        height: fit-content;

        position: sticky;
        top: 1rem;

        margin-top: 3.7rem;
        border-radius: 12px;
        box-shadow: 0px 0px 8px var(--footer-box-shadow-color--desktop);
        padding: 1rem;
    }

        .footer__list {
            flex-direction: column;
            gap: 4rem;
        }
}